
.bargraph_container{
    position: relative;
    width: 330px;
    height: 566px;
    margin-top: 2rem;
    

   .rectangle_statistics{
        height: 566px;
        width: 173px;
        position: absolute;
        z-index: -1;
        padding: 1rem;
        .title{
          font-size: 1rem;
        }
    }
    

    .bargraph_container{
        margin-left: 5rem;
        width: 300px;
    }
    
    .tick{
        color: white;
        font-family: 'montserrat';
        font-size: 0.9rem;
    }
    
    .tickNames{
        width: 100px;
    }
    
    .value{
        fill: white;
        font-size: 0.8rem;
    }
}
