
.membership{
    padding-bottom: 60rem;
    height: 0;
    position: relative;
    color: white;
    margin: 0 auto;
    margin-bottom: 3em;
    
    .rectangle_member{
        height: 50%;
        width: 86%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    .content_member{
        height: 74%;
        width: 93%;
        position: absolute;
        right: 0;
        bottom: 50px;
        z-index: 5;
        .content_member_text{
           margin: 2rem;
        }
    }
   
}


@media (min-width: 576px){
    .membership{
      max-width: 576px;
    }
}

@media (min-width: 992px){

    .membership{
        padding-bottom: 30rem;
        max-width: 100%;
        margin-top: 5rem;

        .rectangle_member{
            height: 50%;
            width: 55%;
            top: 10px;
        }
        .content_member{
            height: 50%;
            width: 60%;
            top: -20px;
        }

        .content_member .content_member_text .main-content-text{
            width: 80%;
        }
    }

}
