
.membership{
    position: relative;
    overflow: auto;
    color: white;
    margin: 0 auto;
    margin-bottom: 10%;
    img{
      position: absolute;
      z-index: -10;
    }
    .rectangle_member{
      width: 90%;
      padding: 0.5rem;
      margin-top: 45%;
      margin-left: 10%;
      z-index: 10;
    }
    .member_rectangle_bg{
      position: relative;
      margin-left: 15%;
      width: 85%;
      height: 50px;
      right: 0;
      z-index: 0;
    }
}




@media (min-width: 576px){
    .membership{
      max-width: 575px;
    }
    
}

@media (min-width: 992px){

    .membership{
        max-width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: 400px;
 
        img{
          margin-top: 2rem;
          width: 50%;
        }
        .rectangle_member{
          width: 60%;
          margin-top: 0;
          margin-left: 40%;
          font-size: 0.9rem;
          padding-right: 10%;

        }
        .member_rectangle_bg{
          width: 55%;
          margin-left: 45%;
          height: 20px;
        }

    
    }

}
