@import '../Bargraph/Bargraph.scss';
@import '../NumIndicator/NumIndicator.scss';

.statistics{
    color: white;
    padding: 0.8rem;

    .title{
        margin: 2rem;
        font-size: 1.4rem; 
        font-weight: bold;
    }
}
