.numIndicator_containter{
    
    position: relative;
    width: 330px;
    height: 146px;
    text-align: right;
    margin-top: 2rem;


    .rectangle_numindicator{
        height: 119px;
        width: 313px;
        position: absolute;
        z-index: -1;
        text-align: left;
        padding: 1rem;
        

        .title{
          font-size: 1rem;
        }
    }

    .numIndicator_text{
        line-height: 1.4;
        margin: 0;
        font-size: 8rem;
        font-weight: bolder;
    } 


}