
.bubblechart_container{
    position: relative;
    width: 330px;
    height: 226px;
    margin-top: 2rem;

   .bubblechart_rectangle{
        height: 185px;
        width: 313px;
        position: absolute;
        z-index: -1;
        padding: 1rem;
        .title{
          font-size: 1rem;
        }
    }
    
    .tick{
        color: white;
        font-family: 'montserrat';
        font-size: 0.8rem;
    }
    
    .tickNames{
        width: 100px;
    }
    
    .value{
        fill: white;
        font-size: 1.2rem;
        font-weight: bold;
    }
}
