@import './variables.scss';
@import './src/components/NavBar/NavBar.scss';
@import './src/components/Header/Header.scss';
@import './src/components/Slider/Slider.scss';
@import './src/components/Membership/Membership.scss';
@import './src/components/Statistics/Statistics.scss';
@import './src/components/NameList/NameList.scss';
@import './src/components/Footer/Footer.scss';

*{
  font-family: 'lato';
}

.App {
  text-align: center;   
}

body{
  background-image: url('./img/IMG-20190502-WA0001.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
}

.container{
  padding: 0;
}

.bg-color-gradient{
  background-image: linear-gradient(to right, #08E4CC, #1192FD);
}

.bg-color-black{
  background-color: black;
}

.homepage{
  .title{
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
  }
  .section-main-title{
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
  }
}


