.Arcchart_container{
    position: relative;
    width: 330px;
    height: 641px;
    margin-top: 2rem;

   .Arcchart_rectangle{
        height: 620px;
        width: 330px;
        position: absolute;
        z-index: -1;
        padding: 2rem;
        .title{
          font-size: 1rem;
        }
    }
    
    .Arcchart_svg{
        margin-left: 0px;
        margin-top: 40px;
    }
    .Arcchart_container{
        margin-left: 5rem;
        width: 300px;
    }
    
    .tick{
        color: white;
        font-family: 'montserrat';
        font-size: 0.9rem;
    }
    
    .tickNames{
        width: 100px;
    }
    
    .value{
        fill: white;
        font-size: 2rem;
        font-weight: bold;
    }
}
