.slider{
    max-width: 576px;
    margin: 2rem auto;
    color: white;
    position: relative;
    text-align: center;

    .carousel-item{
        height: 550px;

        .carousel-caption{
            top:0;

            .slideText{
                font-family: montserrat;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 2.5rem;
            }

            .actorSlideStat{
                display: flex;
                justify-content: center;
                margin-top: 2rem;
        
                .actorSlideImage{
                    width:  60px;
                    height: 60px;
                    line-height:  60px;
                    border-radius: 50%;
                    background-color: #1192FD;
                    float: left;
                    font-size: 1.3rem;
                    font-weight: bold;
                    
                }
            
                .actorStatistics{
                    width: 200px;
                    text-align: left;
                    font-family: 'lato';
                    margin-left: 2rem;
                    font-weight: bold;

                    h5{
                        font-size: 0.9rem;
                        font-weight: inherit;
                    }
                    p{
                        font-size: 0.8rem;
                        margin-bottom: 0;
                        color: gray;
                    }
            
                }
        
            }
            
        }
    } 

    .carousel-indicators li{
        width:  10px;
        height: 10px;
        border-radius: 50%;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon{
        width: 13px;
        height: 24px;
    }

    .carousel-control-next-icon{
        background-image: url(./img/arrow-right.png);
    }
   

    .carousel-control-prev-icon{
        background-image: url(./img/arrow-left.png);
    }

    

}



@media (min-width: 576px){

  .slider{
      .carousel-item{
          height: 500px;
      }
  }
}

@media (min-width: 767px){

  .slider{
      .carousel-item{
          height: 450px;
      }
  }
}

@media (min-width: 992px){

    .slider{
        max-width: 1200px;
        .carousel-item{
            height: 375px;
        }
    }
}